html {
  --base-font-size: 19px;
}

body {
  --space: 3.5rem;
  --border-color: rgba(0, 0, 0, .1);
  --title-color: #111;
}

$pc-content-width: 750px;
@mixin pc() {
  @media screen and (min-width: $pc-content-width + 1) {
    @content;
  }
}

@mixin sp() {
  @media screen and (max-width: $pc-content-width) {
    @content;
  }
}